<% provide(:title, "Perfil") %>
<h1><%= @user.email %></h1>
<ul>
    <li>Name: <%= @user.name %></li>
</ul>

<div class="row profile">
    <div class="col-sm-4 col-md-3">
        <%= image_tag(@user.avatar.url(:medium), class: 'avatar') %>
        <h1><%= @user.full_name %></h1>
        <ul>
            <%= content_tag(:li, ("Nome: " + @user.name)) unless @user.name.blank? %>
        </ul>
    </div>
    <div class="feed">
        <h3>Social Feed Coming</h3>
        <p>Put a couple of lines of text here and see how it scrolls</p>
    </div>
</div>